/*	Responsive Tabs v1.0, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//	======================================================================================= */

/*	Table of Contents
//	==================================================
//		#Reset
//		#Themes


/*	#Reset
//	================================================== */

.tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tabs li {
    margin: 0;
    text-align: center;
    float: left;
}

.tabs li a {
    display: block;
    height: 30px;
    padding: 0 10px;
    text-decoration: none;
    line-height: 30px;
}

.tabs li.active {
    font-weight: bold;
}

.tabs-content {
    margin-bottom: 40px;
}

.tabs-content .tabs-panel {
    padding: 20px;
}

.tabs-content .tabs-panel .tab-title {
    display: none;
}

@media only screen and (max-width: 767px) {
    .tabs li {
        display: none;
    }

    .tabs-content .tabs-panel, .tabs-content .tabs-panel .tab-title {
        display: block;
    }
}

/*	#Themes
//	================================================== */

#data_sources_tabs .tabs li {
    border: 1px solid #DDD;
    border-right: 0;
    background: #EEE;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

#data_sources_tabs .tabs li:last-child {
    border-right: 1px solid #DDD;
}

#data_sources_tabs .tabs li.active {
    border-bottom: 1px solid #FFF;
    background: #FFF;
}

#data_sources_tabs .tabs-content {
    border: 1px solid #DDD;
    background: #FFF;
    position: relative;
    top: -1px;
    z-index: 99;
}

#data_sources_tabs .tabs-content .tab-title {
    color: #0b8593;
}