body{
    margin: 0;
    height: 100%;
    width: 100%;
}

.content{
    height: calc(100% - 65px);
    width: 100%;
}


.topnav {
    overflow: hidden;
    left: 0;
    right: 0;
    background-color: black;
    text-align: center;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    height: 65px;
}


.sidenav {
    width: 350px;
    z-index: 1;
    display: inline-block;
    background-color: #E1E7EE;
    overflow-x: hidden;
    padding-top: 20px;
    padding: 6px 8px 6px 16px;
    float: left;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

.main {
    padding: 10px 10px;
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - 350px);
    float: right;
}

.bottom {
    margin-left: 400px;
    padding: 0px 10px;
    height: 50px;
    width: 500px;
}

.updates {
    position: absolute;
    top: 150px;
    right: 50px;
    font-size: 18px;
    height: 150px;
    width: 350px;
    color: blue;
}

.rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.data_sources {
    border: 2px solid #c4c4c4;
    border-radius: 20px;
    background: #fff;
    width: 180px;
    height: 300px;
    padding: 20px;
}

.data_sources ul {
    border: 1px solid #c4c4c4;
    padding: 0;
}

.data_sources ul li {
    list-style: none;
    border-bottom: 1px solid #c4c4c4;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.data_sources ul li:last-child {
    border-bottom: none;
}

.data_sources ul li.selected {
    background: #AAAAAA;
    cursor: unset;
}

#top_three_customer_table thead td {
    background: #4472C4;
    padding: 5px;
    color: #fff;
}

#top_three_customer_table tbody > tr:nth-child(odd) > td {
    background: #CFD5EA;
    padding: 5px;
    color: #444 !important;
}

#top_three_customer_table tbody > tr:nth-child(even) > td {
    background: #E9EBF5;
    padding: 5px;
    color: #444 !important;
}


