<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/TMA1.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/responsive-tabs.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    <script type="text/javascript" src="../static/js/jqcloud-1.0.4.js"></script>
    <script type="text/javascript" src="../static/js/responsive-tabs.min.js"></script>


</head>
<body>
<div class="topnav">
    <p style="float: left; margin-left: 80px;">Customer Complaints Analysis using ML</p>
</div>
<div class="content">
    <div class="sidenav">
        <h1><b> Select Bank & Dataset</b></h1>

        <form method="GET" action="/" id="sidebar_filters_form">
            <h4><label for="percentage_filter_select">Select Percentage of Dataset</label></h4>
            <select name="percentage" id="percentage_filter_select">
                {% for percentage in percentages %}
                    <option value="{{ percentage }}"
                            {% if percentage == selected_percentage %} SELECTED {% endif %}
                    >{{ percentage }}</option>"
                {% endfor %}
            </select>
            <br>
            <br>
            <h4><label for="company_filter_select">Select Bank</label></h4>
            <select name="bank" id="company_filter_select">
                {% for bank in banks %}
                    <option value="{{ bank }}" {% if bank == selected_bank %} SELECTED {% endif %}>{{ bank }}</option>
                {% endfor %}
            </select>
            <br>
            <br>

            <h4><label for="period_filter_select">Select Period</label></h4>
            <select name="period" id="period_filter_select">
                <option>Select Period</option>
                {% for period in periods %}
                    <option value="{{ period }}"
                            {% if period == selected_period %} SELECTED {% endif %}
                    >{{ period }}</option>
                {% endfor %}
            </select>

            <input type="hidden" name="data_source" id="data_source_filter_field" value="{{ selected_data_source }}">


        </form>

        <br>
        <br>
        <form method="POST" action='/upload' enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputFile">File Input</label>
                <br>
                <br>
                <input type="file" name="file"><br>
                <input type="submit" accept=".csv">
            </div>
        </form>

        <h4>DataSource Selected</h4>
        <div class="data_sources">
            <ul>
                {% for datasource in data_sources %}
                    <li {% if datasource == selected_data_source %} class="selected" {% endif %}>{{ datasource }}</li>
                {% endfor %}
            </ul>
        </div>


    </div>

    <div class="main">
        {% if selected_data_source %}

            <div style="position: absolute;right: 0;width: 200px;margin-top: 30px; font-size: 14px; color: #0B38FF;">
                Percent Of Data: {{ selected_percentage }} <br/><br/>
                Bank: {{ selected_bank }}<br/><br/>
                Period: {{ selected_period }}<br/><br/>
            </div>
            <div id="content" style="width: 700px">
                <h2><b>Top 10 banks by number of complaints</b></h2>
                <canvas id="myChart" height="30px" width="80%"></canvas>
                <div class="bottom">
                    <ul class="navtabs">
                        <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Word Cloud
                        </button>
                        <button class="tablinks" onclick="openCity(event, 'Paris')">Sameple Data</button>
                    </ul>
                </div>
            </div>

        {% else %}
            <div id="no_data_source_selected">
                <h1> Please Select A Data Source First </h1>
            </div>
        {% endif %}

        <div id="data_sources_tabs">
            <ul class="tabs">
                {% for data_source in data_sources %}
                    <li class="active"><a href="#{{ data_source }}tab" target="_self"
                                          data-bcup-haslogintext="no">{{ data_source }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tabs-content">
                {% for data_source in data_sources %}
                    <div id="#{{ data_source }}tab" class="tabs-panel" style="display: block;">
                        <h3>Top Tree Customer by highest number of Complaints</h3>
                        <table id="top_three_customer_table">
                            <thead>
                            <tr>
                                <td>Customer</td>
                                <td>Number of Complaints</td>
                                <td>Years / Month (ie YYYY/MM)</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for complaint in tabs_data[data_source]["banks"] %}
                                <tr>
                                    <td>{{ complaint["customer"] }}</td>
                                    <td>{{ complaint["count"] }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div>Total records: {{ tabs_data[data_source]["total"] }}</div>
                    </div>
                {% endfor %}
            </div>
            <hr class="bm-larger">
        </div>


    </div>
</div>
<div id="Paris" class="tabcontent">
    <script>
        anychart.onDocumentReady(function () {
            var word_array = [
                {text: "Lorem", weight: 15},
                {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
                {text: "Dolor", weight: 6, html: {title: "I can haz any html attribute"}},
                {text: "Sit", weight: 7},
                {text: "Amet", weight: 5}
            ];

            // create a tag (word) cloud chart
            var subchart = anychart.tagCloud(word_array);

            // set a chart title
            subchart.title('15 most spoken languages')
            // set an array of angles at which the words will be laid out
            subchart.angles([0])
            // enable a color range
            subchart.colorRange(true);
            // set the color range length
            subchart.colorRange().length('80%');

            // display the word cloud chart
            subchart.container("container");
            subchart.draw();
        });
    </script>
</div>

<div id="Tokyo" class="tabcontent">
</div>

<div class="updates">
    <p id="updatesPercentage"></p>
    <p id="updatesCompany"></p>
    <p id="updatesPeriod"></p>
</div>
<script>
    let top_ten_banks_by_complaints = {{ chart_data|tojson }};
    let originalData = top_ten_banks_by_complaints.map((bank) => bank.count);
    let labels = top_ten_banks_by_complaints.map((bank) => bank.customer);
    let subOriginalData = []

    let chartdata = {
        labels,
        datasets: [{
            label: "Number of Complaints",
            backgroundColor: ["#fcdaf4", "#fcdaf4", "#fcdaf4", "#fcdaf4", "#fcdaf4", "#fcdaf4", "#fcdaf4", "#fcdaf4", "#fcdaf4", "#fcdaf4"],
            data: originalData
        }],
        options: {
            legend: {display: false},
            title: {
                display: true,
                text: '# of Complaints'
            },
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    };

    window.onload = function () {
        new Chart(document.getElementById("myChart"), {
            responsive: false,
            type: 'horizontalBar',
            data: chartdata
        })
        document.getElementById("updatesPercentage").textContent = "Percent of Data : " + document.getElementById("percentages").value;
        document.getElementById("updatesCompany").textContent = "Bank : " + document.getElementById("companies").value;
        document.getElementById("updatesPeriod").textContent = "Period : " + document.getElementById("periods").value;
        document.getElementById("words").jqCloud(word_array);
        document.getElementById("defaultOpen").click();
    };

    $(document).ready(function () {
        $("#sidebar_filters_form select").change(function () {
            $("#sidebar_filters_form").submit();
        });
        $(".data_sources li").click(function () {
            $("#sidebar_filters_form #data_source_filter_field").val($(this).text());
            $("#sidebar_filters_form").submit();
        })
    });


</script>


</body>
</html>
